---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Raleway');

p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

div.intro {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
}

/*  Link colors   */ 
a:link {
    color: #99ccff
}

a:visited  {
    color: #99ccff
}

a:hover {
    color: hotpink;
}

/*  Icon animations   */ 

a img {
    width: 32px;
    height: 32px;
    border: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s; 
}

a img:hover {
    -webkit-transform: rotate(350deg);
    transform: rotate(350deg);
}


