---
---

@import "{{ site.theme }}";

a:link {
    color: #99ccff
}

a:visited  {
    color: #99ccff
}

a:hover {
    color: hotpink;
}

img {
    transition: width 2s, height 4s;
    -webkit-transition: width 2s, height 4s;
}

img:hover {
    width: 300px;
    height: 300px;
}
